<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="th.ac.up.agr.thai_mini_chicken">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProgramMainActivity.ProgramMainActivity"
            android:label="@string/title_activity_program_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AddProgramActivity.AddProgramActivity"
            android:label="@string/title_activity_add_program"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContainerActivity"
            android:label="@string/title_activity_container"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/DetailTheme" />
        <activity
            android:name=".DetailNotificationActivity"
            android:label="@string/title_activity_detail_notification"
            android:theme="@style/DetailTheme" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:label="TNC Farm Manager"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestLogin"
            android:label="@string/title_activity_test_login"
            android:theme="@style/DetailTheme"></activity>
    </application>

</manifest>